* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    --primary-color: rgb(100, 160, 200);
    --secondary-color: rgb(18, 60, 116);
    --tertiary-color: #d5e8ff;
}

body {
    color: var(--primary-color);
    font-family: Verdana, Helvetica, Arial, sans-serif
}

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    top: 0;
  }

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: white;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

header a {
    text-decoration: none;
    color: white;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background:var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 10px;
    text-shadow: none;
}

.primary-border {
    border-color: var(--secondary-color)
}

section {
    padding: 60px;
}

.section-title {
    font-size: 40px;
    color: var(--secondary-color);
    text-align: right;
    margin: 0 70px auto auto;
    width: 100%;
    flex: 1;
}

.profile-picture {
    display: block;
    flex-wrap: wrap;
    width: 20%;
}

.content {
    flex: 4;
    padding: 0 0 0 40px;
    border-left: 3px solid;
}

.content p {
    line-height: 1.7;
    color: var(--secondary-color);
    font-size: 20px;
}

.introducing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    background-color: var(--tertiary-color);
}

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    background-color: var(--tertiary-color);

}

.contact-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    background-color: var(--tertiary-color);

}

.flex-colum {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    flex: block;
    display: flex;
}